body {
    background-color: darkslategray;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h1 {
    color: black;
    font-size: 70px;
    font-family: algerian;
}
p {
    font-style: italic;
    color: black;
}
.fa-house {
    color: aliceblue;
    height: 200px;
    width: 200px;
}
