
h1 {
    font-family: algerian;
    color: muted;
}
body {
    background: url(images/darkkk.jpg);
    background-repeat: no-repeat;
    background-size: 220vh;
    background: cover ;
    height: 100px;
}
p {
    color: muted;
    font-size: 20px;
    font-family: italic;
    font-size: 20px;
    font-style: italic;
    
}